
.message-list[b-su9x9oohqu] {
    height: calc(100vh - 75px - 115px);
    overflow-y: auto;
    background-color: #7a8288;
}

.single-msg[b-su9x9oohqu] {
    padding: 4px 10px;
    border-radius: 25px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    font-size: 1.1rem;
}

.me[b-su9x9oohqu] {
    border-bottom-right-radius: 0;
    background-color: #62c462;
    color: #e9ecef;
    padding: 1rem;
}

.other[b-su9x9oohqu] {
    border-bottom-left-radius: 0;
    background-color: #52575c;
    color: #e9ecef;
    padding: 1rem;
}

.msg-dt[b-su9x9oohqu] {
    font-size: 12px;
}

.me .msg-dt[b-su9x9oohqu] {
    display: block;
    width: 100%;
    text-align: right;
}