@using System.ComponentModel;
@using ZaptimeChatApp.Client.Services;


@inject OverlayService OverlayService
@implements IDisposable
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase



<CascadingValue Value="AuthenticationState" Name="AuthenticationState">
    <RadzenComponents />
 
    <div class="container-fluid">
        @Body
    </div>
</CascadingValue>


<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
    Timeout="2"
    IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
    SuccessClass="success-toast-override"
    SuccessIcon="fa fa-thumbs-up"
    ErrorIcon="fa fa-bug"
    WarningIcon="fa fa-warning"
    InfoIcon="fa fa-info-circle">
</BlazoredToasts>



@code {
    public AuthenticationState AuthenticationState { get; set; } = new();
    


    protected async override Task OnInitializedAsync()
    {
        

        var authStateJson = await JsRuntime.InvokeAsync<string>("window.getFromStorage", AuthenticationState.AuthStoreKey);
        if(!string.IsNullOrWhiteSpace(authStateJson))
        {
            var authState = JsonConverter.Deserialize<AuthResponseDto>(authStateJson);
            AuthenticationState.LoadState(authState);

            if(AuthenticationState.IsAuthenticated)
            {
                NavigationManager.NavigateTo("/chat");
            }
        }

        AuthenticationState.PropertyChanged += AuthenticationStateChanged;
    }

  

    private void AuthenticationStateChanged(object? sender, PropertyChangedEventArgs e)
    {
        if(e.PropertyName == nameof(AuthenticationState.IsAuthenticated))
        {
            if(AuthenticationState.IsAuthenticated)
            {
                NavigationManager.NavigateTo("/chat");
            }
            else
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }

    public void Dispose()
    {
        AuthenticationState.PropertyChanged -= AuthenticationStateChanged;
    }
}

