
.messages-window[b-dyx6l7izga] {
    height: calc(100vh - 75px);
}

.topbar-name[b-dyx6l7izga] {
    border: 0px solid #5e10d2;
    font-size: 20px;
    padding: 2px 5px;
}

.header[b-dyx6l7izga] {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-logo[b-dyx6l7izga] {
    width: 50px;
    height: auto;
    margin-top: -10px;
}

.header-text[b-dyx6l7izga] {
    font-size: 1.5em;
    margin-left: -15px;
    margin-top: -4px 
}

/*element.style{
    height: calc(100vh - 150px);
}*/