
.messages-window[b-dyx6l7izga] {
    height: calc(100vh - 75px);
}

.topbar-name[b-dyx6l7izga] {
    border: 0px solid #5e10d2;
    font: 2rem;
    padding: 2px 5px;
}

/*element.style{
    height: calc(100vh - 150px);
}*/